[submodule "lib/cairo_erc4626"]
	path = lib/cairo_erc4626
	url = git@github.com:auditless/cairo-erc4626.git
[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
